# Server Configuration
PORT=5000

# MongoDB Configuration
MONGO_URI=
MONGO_DB=

# Redis Cloud Configuration (optional)
REDIS_HOST=
REDIS_PORT=16491
REDIS_PASSWORD=

DOMAIN=localhost
# Default Admin User
DEFAULT_USER_EMAIL=
DEFAULT_USER_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BREVO_API_KEY=
BREVO_HOST=smtp-relay.brevo.com
BREVO_PASS=
BREVO_PORT=587
BREVO_USER=